<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link href="/static/css/w3pro.css" rel="stylesheet">
    <link href="/static/css/mystyle.css" rel="stylesheet">
    <link href="/static/css/prism.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#919597">
    <title>Credential Issuer</title>

</head>

<body class="w3-content">

{{embed}}

<script src="/static/js/prism.js"></script>
</body>
</html>